@import "./globals/01-foundation.css";
@import "./globals/02-pipeline-runtime.css";
@import "./globals/03-strategy-create.css";
@import "./globals/04-agent-config.css";
@import "./globals/05-workflow-canvas.css";
@import "./globals/06-reports-preview.css";
@import "./globals/07-footer-motion.css";
@import "./globals/08-responsive.css";
